<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VIREO_KIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <VIREO_KIS.Properties.Settings>
            <setting name="COLOR_GRID_NUM_COL" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COLOR_GRID_NUM_ROW" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DISPLAY_NUM_RESULTS_TO_SHOW" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DISPLAY_NUM_RELATED_SHOTS_TO_SHOW" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DATASET_NUM_SHOTS" serializeAs="String">
                <value>2508108</value>
            </setting>
            <setting name="META_LINK_JAVA" serializeAs="String">
                <value>C:\Program Files\Java\jre1.8.0_333\bin\java.exe</value>
            </setting>
			<!--<setting name="SUBMISSION_URL_VBS_2022" serializeAs="String">
				<value>https://vbs.videobrowsing.org/api/v1/submit</value>
			</setting>
			<setting name="SUBMISSION_URL_VBS_rehearsal_2022" serializeAs="String">
				<value>http://47.242.145.89:8888/submit</value>
			</setting>-->
            <setting name="SUBMISSION_URL" serializeAs="String">
                <value>http://47.242.145.89:8888/submit</value>
            </setting>
			<!--<setting name="SUBMISSION_TEAM_ID_VBS_2022" serializeAs="String">
				<value>node018rj7o4f8pv5i1a7k7wazti5h812</value>
			</setting>
			<setting name="SUBMISSION_TEAM_ID_rehearsal_2022" serializeAs="String">
				<value>node013y3trafq00r21gqxvnln62feo0</value>
			</setting>-->
            <setting name="SUBMISSION_TEAM_ID" serializeAs="String">
                <value>node013y3trafq00r21gqxvnln62feo0</value>
            </setting>
            <setting name="SUBMISSION_MEMBER_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DATASET_NUM_VIDEOS" serializeAs="String">
                <value>17235</value>
            </setting>
			<setting name="DATASET_NUM_VIDEOS_V3C1" serializeAs="String">
				<value>7475</value>
			</setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_NEAREST_NEIGHBORS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_RANKLIST_VIEW" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SUBMISSION_SEND_LOG" serializeAs="String">
                <value>False</value>
            </setting>
            <!--<setting name="SUBMISSION_URL_LOG_VBS2022" serializeAs="String">
                <value>https://vbs.videobrowsing.org/api/v1/log</value>
            </setting>
			<setting name="SUBMISSION_URL_LOG_rehearsal_2022" serializeAs="String">
                <value>http://47.242.145.89:8888/log</value>
            </setting>-->
            <setting name="SUBMISSION_URL_LOG" serializeAs="String">
                <value>http://47.242.145.89:8888/log</value>
            </setting>
			<setting name="DATASET_LINK_THUMBNAILS_SHOTS_V3C1" serializeAs="String">
				<value>C:\Users\hzhang\Documents\Vireo_data\v3c1\Thumb\msThumb\</value>
			</setting>
            <setting name="DATASET_LINK_THUMBNAILS_SHOTS_V3C2" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c2\Thumb\msThumb\</value>
            </setting>
            <setting name="DATASET_LINK_SHOT_COUNT" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\_Utility\shot.count</value>
            </setting>
            <setting name="DATASET_LINK_VIDEOS_V3C1" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\videos_v3c1_transcoded\</value>
            </setting>
			<setting name="DATASET_LINK_VIDEOS_V3C2" serializeAs="String">
				<value>E:\VBS\v3c2_videos_transcoded\</value>
			</setting>
            <setting name="DATASET_LINK_SHOT_BOUNDARY" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\_ShotBoundary\</value>
            </setting>

            <setting name="COLOR_LINK" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\color\finalAVG\</value>
            </setting>
            <setting name="FILTER_FOLDER" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Filters\</value>
            </setting>
            <setting name="IMG_BLACK" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\_Utility\loading2.jpg</value>
            </setting>
            <setting name="IMG_SUBMITTED" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\_Utility\submitted.jpg</value>
            </setting>
            <setting name="DATASET_LINK_VIDEO_NAME" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\_Utility\video.name</value>
            </setting>


            <setting name="META_JAR_CALL_META" serializeAs="String">
                <value>-jar C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\MetaQuery.jar</value>
            </setting>
            <setting name="META_JAR_CALL_OCR" serializeAs="String">
                <value>-jar C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\OCRQuery.jar</value>
            </setting>
            <setting name="META_JAR_CALL_ASR" serializeAs="String">
                <value>-jar C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\ASRQuery.jar</value>
            </setting>
            <setting name="META_RESULT_META" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\Meta.tx</value>
            </setting>
            <setting name="META_RESULT_ASR" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\ASR.txt</value>
            </setting>
            <setting name="META_RESULT_OCR" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\OCR.txt</value>
            </setting>
            
            <setting name="LOGS_INTERACTION" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\VBS_activity.log</value>
            </setting>
            <setting name="LOGS_RANKLIST" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\VBS_ranklist.log</value>
            </setting>
            <setting name="EMBEDDING_LINK_RESULT" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_VSS_2022\ITV_servers_2022\v3c1+v3c2_results\emb_shotidx_result.txt</value>
            </setting>
            <setting name="EMBEDDING_PYTHON_CALL" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_VSS_2022\ITV_servers_2022\dual_task_avs.py</value>
            </setting>
            <setting name="NEAREST_NEIGHBORS_LINK" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\ITV_alpha0.01_ss7049j_top1000_emb\</value>
            </setting>
            <setting name="EMBEDDING_LINK_PYTHON" serializeAs="String">
                <value>C:\Users\hzhang\Anaconda3\envs\zxma_py37\python.exe</value>
            </setting>
            <setting name="EMBEDDING_LINK_DICTIONARY" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\Dual_task_trained_model\ITV_alpha0.01_ss7049j_v3c1+v3c2_concept_bank_dim256.txt</value>
            </setting>
			<setting name="EMBEDDING_LINK_INVERTED_INDEX" serializeAs="String">
				<value>C:\Users\hzhang\Documents\Vireo_data\ITV_alpha0.01_ss7049j_v3c1+v3c2_combined_concept_invert\</value>
			</setting>
            <setting name="META_RESULT_WORKING_DIR" serializeAs="String">
                <value>C:\Users\hzhang\Documents\Vireo_data\v3c1_v3c2\Textbased\</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_TEMPORAL_VIEW" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SUBMISSION_ENABLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EMBEDDING_NUM_LOGIC_MAX" serializeAs="String">
                <value>30</value>
            </setting>
        </VIREO_KIS.Properties.Settings>
    </userSettings>
</configuration>
