<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VIREO_KIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <VIREO_KIS.Properties.Settings>
            <setting name="COLOR_GRID_NUM_COL" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COLOR_GRID_NUM_ROW" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DISPLAY_NUM_RESULTS_TO_SHOW" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DISPLAY_NUM_RELATED_SHOTS_TO_SHOW" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DATASET_NUM_SHOTS" serializeAs="String">
                <value>2508108</value>
            </setting>
            <setting name="META_LINK_JAVA" serializeAs="String">
                <value>C:\Program Files\Java\jre1.8.0_202\bin\java.exe</value>
            </setting>
            <setting name="SUBMISSION_URL_VBS" serializeAs="String">
                <value>https://vbs2.itec.aau.at:9443/submit</value>
            </setting>
          <setting name="SUBMISSION_URL" serializeAs="String">
            <value>http://47.242.145.89:8888/submit</value>
          </setting>
            <setting name="SUBMISSION_TEAM_ID" serializeAs="String">
                <value>node0i6gjw1yr88bi1354l45kw78jw8</value>
            </setting>
            <setting name="SUBMISSION_TEAM_ID_VIREO" serializeAs="String">
                <value>node01qo8qbanuwb441u9ksjwu20f0z49</value>
            </setting>
            <setting name="SUBMISSION_MEMBER_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DATASET_NUM_VIDEOS" serializeAs="String">
                <value>17235</value>
            </setting>
			<setting name="DATASET_NUM_VIDEOS_V3C1" serializeAs="String">
				<value>7475</value>
			</setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_NEAREST_NEIGHBORS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_RANKLIST_VIEW" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SUBMISSION_SEND_LOG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SUBMISSION_URL_LOG_VBS2021" serializeAs="String">
                <value>https://vbs.itec.aau.at:9443/log</value>
            </setting>
          <setting name="SUBMISSION_URL_LOG" serializeAs="String">
            <value>http://47.242.145.89:8888/log</value>
          </setting>
			<setting name="DATASET_LINK_THUMBNAILS_SHOTS_V3C1" serializeAs="String">
				<value>D:\nikki\v3c1\_Thumbnails\</value>
			</setting>
            <setting name="DATASET_LINK_THUMBNAILS_SHOTS_V3C2" serializeAs="String">
                <value>D:\nikki\v3c2\_Thumbnails\</value>
            </setting>
            <setting name="DATASET_LINK_SHOT_COUNT" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\_Utility\shot.count</value>
            </setting>
            <setting name="DATASET_LINK_VIDEOS_V3C1" serializeAs="String">
                <value>D:\nikki\v3c1\videos256\</value>
            </setting>
			<setting name="DATASET_LINK_VIDEOS_V3C2" serializeAs="String">
				<value>D:\nikki\v3c2\videos256\</value>
			</setting>
            <setting name="DATASET_LINK_SHOT_BOUNDARY" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\_ShotBoundary\</value>
            </setting>
            <setting name="META_JAR_CALL_META" serializeAs="String">
                <value>-jar C:\nikki_c\v3c1+v3c2\Textbased\MetaQuery.jar</value>
            </setting>
            <setting name="META_RESULT_META" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\Textbased\Meta.txt</value>
            </setting>
            <setting name="COLOR_LINK" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\color\finalAVG\</value>
            </setting>
            <setting name="FILTER_FOLDER" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\Filters\</value>
            </setting>
            <setting name="IMG_BLACK" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\_Utility\loading2.jpg</value>
            </setting>
            <setting name="IMG_SUBMITTED" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\_Utility\submitted.jpg</value>
            </setting>
            <setting name="DATASET_LINK_VIDEO_NAME" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\_Utility\video.name</value>
            </setting>
            <setting name="META_JAR_CALL_OCR" serializeAs="String">
                <value>-jar C:\nikki_c\v3c1+v3c2\Textbased\OCRQuery.jar</value>
            </setting>
            <setting name="META_JAR_CALL_ASR" serializeAs="String">
                <value>-jar C:\nikki_c\v3c1+v3c2\Textbased\ASRQuery.jar</value>
            </setting>
            <setting name="META_RESULT_ASR" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\Textbased\ASR.txt</value>
            </setting>
            <setting name="META_RESULT_OCR" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\Textbased\OCR.txt</value>
            </setting>
            <setting name="LOGS_INTERACTION" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\VBS_activity.log</value>
            </setting>
            <setting name="LOGS_RANKLIST" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\VBS_ranklist.log</value>
            </setting>
            <setting name="EMBEDDING_LINK_RESULT" serializeAs="String">
                <value>C:\nikki_c\ITV_servers\v3c1+v3c2_results/emb_result.txt</value>
            </setting>
            <setting name="EMBEDDING_PYTHON_CALL" serializeAs="String">
                <value>C:\nikki_c\ITV_servers/dual_task_avs.py</value>
            </setting>
            <setting name="NEAREST_NEIGHBORS_LINK" serializeAs="String">
                <value>D:\nikki\v3c1+v3c2\ITV_alpha0.01_ss7049j_top1000_emb\</value>
            </setting>
            <setting name="EMBEDDING_LINK_PYTHON" serializeAs="String">
                <value>C:\Users\PC\.conda\envs\ws_py36\python.exe</value>
            </setting>
            <setting name="EMBEDDING_LINK_DICTIONARY" serializeAs="String">
                <value>D:\nikki\ITV_server_data\ITV_alpha0.01_ss7049j_v3c1+v3c2_concept_bank_float16.txt</value>
            </setting>
			<setting name="EMBEDDING_LINK_INVERTED_INDEX" serializeAs="String">
				<value>D:\nikki\ITV_server_data\ITV_alpha0.01_ss7049j_v3c1+v3c2_combined_concept_invert\</value>
			</setting>
            <setting name="META_RESULT_WORKING_DIR" serializeAs="String">
                <value>C:\nikki_c\v3c1+v3c2\Textbased\</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_TEMPORAL_VIEW" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SUBMISSION_ENABLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EMBEDDING_NUM_LOGIC_MAX" serializeAs="String">
                <value>30</value>
            </setting>
        </VIREO_KIS.Properties.Settings>
    </userSettings>
</configuration>
