<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VIREO_KIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VIREO_KIS.Properties.Settings>
            <setting name="COLOR_GRID_NUM_COL" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COLOR_GRID_NUM_ROW" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DISPLAY_NUM_RESULTS_TO_SHOW" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DISPLAY_NUM_RELATED_SHOTS_TO_SHOW" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DATASET_NUM_SHOTS" serializeAs="String">
                <value>13667</value>
            </setting>
            <setting name="META_LINK_JAVA" serializeAs="String">
                <value>C:\Program Files\Java\jre1.8.0_221\bin\java.exe</value>
            </setting>
            <setting name="SUBMISSION_MEMBER_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DATASET_NUM_VIDEOS" serializeAs="String">
                <value>1359</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_NEAREST_NEIGHBORS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_RANKLIST_VIEW" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DATASET_LINK_THUMBNAILS_SHOTS" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\thumbnails\</value>
            </setting>
            <setting name="DATASET_LINK_SHOT_COUNT" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\shot.count</value>
            </setting>
            <setting name="DATASET_LINK_VIDEOS" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1\videos\</value>
            </setting>
            <setting name="DATASET_LINK_SHOT_BOUNDARY" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\marine_msb\</value>
            </setting>
            <setting name="COLOR_LINK" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\color\finalAVG\</value>
            </setting>
            <setting name="FILTER_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="IMG_BLACK" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\_Utility\loading2.jpg</value>
            </setting>
            <setting name="IMG_SUBMITTED" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\_Utility\submitted.jpg</value>
            </setting>
            <setting name="DATASET_LINK_VIDEO_NAME" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\_Utility\video.name</value>
            </setting>
            <setting name="LOGS_INTERACTION" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\activity_marine.log</value>
            </setting>
            <setting name="LOGS_RANKLIST" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\ranklist.log</value>
            </setting>
            <setting name="DISPLAY_NUM_ITEM_PER_LINE_TEMPORAL_VIEW" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DATASET_NUM_VIDEOS_V3C1" serializeAs="String">
                <value>1359</value>
            </setting>
            <setting name="DATASET_LINK_THUMBNAILS_SHOTS_V3C1" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\thumbnails\</value>
            </setting>
            <setting name="DATASET_LINK_THUMBNAILS_SHOTS_V3C2" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\thumbnails\</value>
            </setting>
            <setting name="DATASET_LINK_VIDEOS_V3C1" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\marine_videos_transcoded\</value>
            </setting>
            <setting name="DATASET_LINK_VIDEOS_V3C2" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\marine_videos_transcoded\</value>
            </setting>
            <setting name="EMBEDDING_LINK_RESULT" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\v3c1+v3c2_results\emb_shotidx_result.txt</value>
            </setting>
            <setting name="EMBEDDING_PYTHON_CALL" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\dual_task_avs.py</value>
            </setting>
            <setting name="NEAREST_NEIGHBORS_LINK" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\nearest_shots_clip4clip_msrvtt_e0\</value>
            </setting>
            <setting name="EMBEDDING_LINK_PYTHON" serializeAs="String">
                <value>C:\Users\zxma.2020\Anaconda3\envs\zxma_py36\python.exe</value>
            </setting>
            <setting name="EMBEDDING_LINK_DICTIONARY" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\Dual_task_trained_model\ITV_alpha0.01_ss7049j_v3c1+v3c2_concept_bank_dim256.txt</value>
            </setting>
            <setting name="EMBEDDING_LINK_INVERTED_INDEX" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\ITV_alpha0.01_ss7049j_v3c1+v3c2_combined_concept_invert\</value>
            </setting>
            <setting name="META_RESULT_WORKING_DIR" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\v3c1_v3c2\Textbased\</value>
            </setting>
            <setting name="SUBMISSION_ENABLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EMBEDDING_NUM_LOGIC_MAX" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PERFORMANCE_DATA_PATH" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\performance_test\</value>
            </setting>
            <setting name="SUBMISSION_URL" serializeAs="String">
                <value>https://vbs.videobrowsing.org/api/v1/submit</value>
            </setting>
            <setting name="SUBMISSION_TEAM_ID" serializeAs="String">
                <value>node03osw3c3b77y1dt89ritv06x1919</value>
            </setting>
            <setting name="SUBMISSION_SEND_LOG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="META_JAR_CALL_META" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\meta_whoosh_search.py</value>
            </setting>
            <setting name="META_RESULT_META" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\Meta_result.txt</value>
            </setting>
            <setting name="META_JAR_CALL_OCR" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\ocr_whoosh_search.py</value>
            </setting>
            <setting name="META_JAR_CALL_ASR" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\asr_whoosh_search.py</value>
            </setting>
            <setting name="META_RESULT_ASR" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\ASR_result.txt</value>
            </setting>
            <setting name="META_RESULT_OCR" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_VSS_2022\ITV_servers_2022\OCR_result.txt</value>
            </setting>
            <setting name="SUBMISSION_URL_LOG" serializeAs="String">
                <value>https://vbs.videobrowsing.org/api/v1/log</value>
            </setting>
            <setting name="MARINE_MAPPING_FILE" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\marine2trecvic.txt</value>
            </setting>
            <setting name="MARINE_SHOT_MAPPING_FILE" serializeAs="String">
                <value>C:\Users\zxma.2020\Documents\Vireo_data\marine\marine_shotid_to_index.csv</value>
            </setting>
            <setting name="SUBMISSION_VBS_2023" serializeAs="String">
                <value>https://vbs.videobrowsing.org/api/v1/submit</value>
            </setting>
            <setting name="TEAM_ID_VBS23" serializeAs="String">
                <value>node01l4ju95tsgh7vla0x05zb3prv570</value>
            </setting>
            <setting name="test" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <int>12</int>
                        <int>123</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="DRES_PASSWORD" serializeAs="String">
                <value>ZmFg}-6P</value>
            </setting>
            <setting name="DRES_USER_ID" serializeAs="String">
                <value>VIREO1</value>
            </setting>
        </VIREO_KIS.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
